.titles__title {
  margin: 0;
}
.title__posters {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 50px 0 50px 24px;
  list-style-type: none;
  -webkit-overflow-scrolling: touch;
}
.title__posters::-webkit-scrollbar {
  display: none;
}
